<script>
	$(document).ready(function(){
            var body = $('body'),
                dragTarget = $('.drag-target');
                if (dragTarget.length) {
                    dragTarget.remove();
                    body.removeAttr('style');
                }
	});
</script>

<main>
	<center>
		<h5>Reset Password :D</h5>
		<div class="container" ng-if="!vm.expired">
			<div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE; margin-top:10%">
			<form name="myForm" ng-submit="vm.submitPassword()">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">lock_outline</i>
						<input type="password" id="pw1" name="pw1" ng-model="vm.pw1" ng-pattern="/^(?=.*[A-Za-z])[A-Za-z\d]{8,}$/" required />
						<label for="pw1">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">lock_outline</i>
						<input type="password" id="pw2" name="pw2" ng-model="vm.pw2" required pw-check="pw1" />
						<label for="pw2">Confirm Password</label>
					</div>
				</div>
				<p>Password should have at least 8 characters long and contain one character.</p>
				<div class="msg-block" ng-show="myForm.pw2.$error.pwmatch || !myForm.pw1.$valid">
					<p class="msg-error" ng-show="myForm.pw2.$error.pwmatch">Passwords don't match.</p>
				</div>
				<br />
				<center>
					<div class='row'>
						<div class="col s6">
							<button ng-click="vm.home()" class='col s12 btn btn-large waves-effect indigo' ng-disabled="vm.enableSpinner">Back</button>
						</div>
						<div class="col s6">
							<button type='submit' class='col s12 btn btn-large waves-effect indigo' ng-disabled="myForm.pw2.$error.pwmatch || !myForm.pw1.$valid || vm.enableSpinner">Submit</button>
                                                        <div class="preloader-wrapper small active" ng-show="vm.enableSpinner">
                                                                <div class="spinner-layer spinner-white-only">
                                                                        <div class="circle-clipper left">
                                                                                <div class="circle"></div>
                                                                        </div><div class="gap-patch">
                                                                                <div class="circle"></div>
                                                                        </div><div class="circle-clipper right">
                                                                                <div class="circle"></div>
                                                                        </div>
                                                                </div>
                                                        </div>
						</div>
					</div>
				</center>
			</form>
			</div>
		</div>
		<div class="container" ng-include src="vm.templateUrl">
		</div>
	</center>
</main>