<main>
	<center>
		<h5>Reset Password :D</h5>
		<div class="container" ng-if="!vm.expired">
			<div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE; margin-top:10%">
			<form name="myForm" ng-submit="vm.submitPassword()">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">lock_outline</i>
						<input type="password" id="pw1" name="pw1" ng-model="vm.pw1" ng-minlength="8" required />
						<label for="pw1">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">lock_outline</i>
						<input type="password" id="pw2" name="pw2" ng-model="vm.pw2" required pw-check="pw1" />
						<label for="pw2">Confirm Password</label>
					</div>
				</div>
				<div class="msg-block" ng-show="myForm.$error || !myForm.pw1.$valid"> 	<p class="msg-error" ng-show="myForm.pw2.$error.pwmatch">Passwords don't match.</p>
					<p class="msg-error" ng-show="!myForm.pw1.$valid">Please insert atleast 8 characters.</p>
				</div>
				<br />
				<center>
					<div class='row'>
						<div class="col s6">
							<button ng-click="vm.home()" class='col s12 btn btn-large waves-effect indigo'>Back</button>
						</div>
						<div class="col s6">
							<button type='submit' class='col s12 btn btn-large waves-effect indigo' ng-class="{disabled:myForm.pw2.$error.pwmatch || !myForm.pw1.$valid}">Submit</button>
						</div>
					</div>
				</center>
			</form>
			</div>
		</div>
		<div class="container" ng-include src="vm.templateUrl">
		</div>
	</center>
</main>