<main>
    <center>
        <h5>Reset Password :D</h5>
        <div class="container" ng-if="!vm.error && !vm.expired">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE; margin-top:10%">
            <form name="myForm" ng-submit="vm.submitPassword()">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>
                        <input type="password" id="pw1" name="pw1" ng-model="vm.pw1" required />
                        <label for="pw1">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>
                        <input type="password" id="pw2" name="pw2" ng-model="vm.pw2" required pw-check="pw1" />
                        <label for="pw2">Confirm Password</label>
                    </div>
                </div>
                <div class="msg-block" ng-show="myForm.$error"> <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch">Passwords don't match.</span> 
                </div>
                <br />
                <center>
                    <div class='row'>
                        <button type='submit' class='col s12 btn btn-large waves-effect indigo' ng-class="{disabled:myForm.pw2.$error.pwmatch}">Submit</button>
                    </div>
                </center>
            </form>
            </div>
        </div>
        <div class="container" ng-include src="vm.templateUrl">
        </div>
        <div class="container" ng-if="vm.error">
            Error cannot change password!
        </div>
    </center>
</main>