<main>
		<center>
				<h5 class="indigo-text">Please, login into your account</h5>
				<div class="container">
						<div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
						<form class="col s12" ng-submit="vm.login()">
							<div class='row'>
								<div class='col s12'>
								</div>
							</div>

							<div class='row'>
								<div class='input-field col s12'>
									<input class='validate' type='text' name='username' id='username' ng-model="vm.username" required/>
									<label for='username'>Enter your username</label>
								</div>
							</div>

							<div class='row'>
								<div class='input-field col s12'>
									<input class='validate' type='password' name='password' id='password' ng-model="vm.password" required/>
									<label for='password'>Enter your password</label>
								</div>
                                                            <label style='float: right;'>
                                                                    <a class="pink-text link-pointer" ng-click="vm.requestPassword()"><b>Forgot Password?</b></a>
                                                            </label>
							</div>
							<br />
							<center>
								<div class='row'>
									<button type='submit' class='col s12 btn btn-large waves-effect indigo' ng-class="{disabled:vm.enableSpinner}">Login</button>
								</div>
								<div class="preloader-wrapper small active" ng-show="vm.enableSpinner">
									<div class="spinner-layer spinner-white-only">
										<div class="circle-clipper left">
											<div class="circle"></div>
										</div><div class="gap-patch">
											<div class="circle"></div>
										</div><div class="circle-clipper right">
											<div class="circle"></div>
										</div>
									</div>
								</div>
							</center>
						</form>
						</div>
				</div>
		</center>
</main>
<div id="modal-request-password" class="modal">
        <div class="modal-content">
        <h4 id="modal-title">Forgot Your Password</h4>
        <span>Please enter the e-mail address used to register. We will send information to that address.</span>
            <form id="request-password-form" ng-submit="vm.resetPassword()">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate" ng-model="vm.email">
                        <label for="email" class="">Email</label>
                      </div>
                </div>
                <div class='row'>
                    <button id="submit-request-password" type='submit' class='col s12 btn btn-large waves-effect indigo'>Submit</button>
                </div>
            </form>
            <span class="request-success hide">Successfully sent information to your email.</span>
            <span class="request-error hide">Your email is not registered. Please try on a different address.</span>
        </div>
</div>

