<script>
    $(document).ready(function(){
            $('.dropdown-button').dropdown();
    });
</script>
<nav ng-init="vm.toggleInit()">
    <div class="nav-wrapper">
      <ul class="right hide-on-med-and-down">
        <li><a ng-click="vm.toggleView()" id="toggle-view"><i class="material-icons left">star</i><span>View</span></a></li>
        <li><a class="dropdown-button" data-activates="account-dropdown"><i class="material-icons left">perm_identity</i>Account<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
</nav>
<ul id="account-dropdown" class="dropdown-content">
    <li><a ng-click="vm.changePassword()">Change Password</a></li>
    <li><a ng-click="vm.logout()">Logout!</a></li>
</ul>