<table id="product-table" class="hoverable bordered show-on-small hide-on-med-and-up" ng-show="!vm.bigSpinner">
        <tbody>
                <tr dir-paginate="p in vm.products | filter:search | orderBy:vm.sortKey:vm.reverse | itemsPerPage:5" pagination-id="prodx">
                    <td class="hide">{{ p.id }}</td>    
                    <td ng-show="!vm.toggleMaster">
                        <input name="selected{{p.id}}" type="checkbox" id="selected{{p.id}}" ng-model="p.selected" ng-change="vm.triggerInfoDialog(p.id)"/>
                        <label for="selected{{p.id}}"></label>
                    </td>
                    <td style="width:50%">
                        <p><b>CCN#:</b> {{ p.ccn }}</p>
                        <p><b>Part Ng.:</b> {{ p.part_ng }}</p>
                        <p ng-if="vm.getBoolean(p.note)"><b>Note:</b> <span class="small-correct"><i class="material-icons">done</i></span></p>
                        <p ng-if="!vm.getBoolean(p.note)"><b>Note:</b> <span class="small-x">X</span></p>
                        <p ng-show="!vm.toggleMaster"><b>USLP:</b> {{ p.uslp }}</p>
                        <p ng-show="!vm.toggleMaster"><b>Other:</b> {{ p.other }}</p>
                    </td>
                    <td style="width:50%">
                        <p><b>Description:</b> {{ p.description }}</p>
                        <p ng-repeat="data in vm.locations" ng-show="data.id == p.location_id">
                            <b>Location: </b> {{ data.description }}
                        </p>
                        <p ng-show="!vm.toggleMaster"><b>Year:</b> {{ p.year }}</p>
                        <p ng-show="!vm.toggleMaster"><b>NDBP:</b> {{ p.ndbp }}</p>
                    </td>
                </tr>
        </tbody>
</table>

<table id="product-table" class="hoverable bordered big-product-table hide-on-small-only" ng-show="!vm.bigSpinner">
    <thead>
            <tr>
                    <th class="text-align-center hide">ID</th>
                    <th class="text-align-center" ng-show="!vm.toggleMaster">Select</th>
                    <th class="text-align-center sortable" ng-class="{'sort-asc': vm.sortKey === 'ccn' && !vm.reverse, 'sort-desc': vm.sortKey === 'ccn' && vm.reverse}">
                            <a href ng-click="vm.sortBy('ccn')">CCN#</a>
                    </th>
                    <th class="text-align-center sortable" ng-class="{'sort-asc': vm.sortKey === 'description' && !vm.reverse, 'sort-desc': vm.sortKey === 'description' && vm.reverse}">
                            <a href ng-click="vm.sortBy('description')">Description</a>
                    </th>
                    <th class="text-align-center sortable" ng-class="{'sort-asc': vm.sortKey === 'part_ng' && !vm.reverse, 'sort-desc': vm.sortKey === 'part_ng' && vm.reverse}">
                            <a href ng-click="vm.sortBy('part_ng')">Part Ng.</a>
                    </th>
                    <th class="text-align-center sortable" ng-class="{'sort-asc': vm.sortKey === 'location' && !vm.reverse, 'sort-desc': vm.sortKey === 'location' && vm.reverse}">
                            <a href ng-click="vm.sortBy('location')">Location</a>
                    </th>
                    <th class="text-align-center">Note</th>
                    <th class="text-align-center sortable" ng-show="!vm.toggleMaster" ng-class="{'sort-asc': vm.sortKey === 'year' && !vm.reverse, 'sort-desc': vm.sortKey === 'year' && vm.reverse}">
                            <a href ng-click="vm.sortBy('year')">Year</a>
                    </th>
                    <th class="text-align-center sortable" ng-show="!vm.toggleMaster" ng-class="{'sort-asc': vm.sortKey === 'uslp' && !vm.reverse, 'sort-desc': vm.sortKey === 'uslp' && vm.reverse}">
                            <a href ng-click="vm.sortBy('uslp')">USLP</a>
                    </th>
                    <th class="text-align-center sortable" ng-show="!vm.toggleMaster" ng-class="{'sort-asc': vm.sortKey === 'ndbp' && !vm.reverse, 'sort-desc': vm.sortKey === 'ndbp' && vm.reverse}">
                            <a href ng-click="vm.sortBy('ndbp')">NDBP</a>
                    </th>
                    <th class="text-align-center" ng-show="!vm.toggleMaster">Other</th>
            </tr>
    </thead>

    <tbody>
            <tr dir-paginate="p in vm.products | filter:search | orderBy:vm.sortKey:vm.reverse | itemsPerPage:5" pagination-id="prodx">
                    <td class="hide">{{ p.id }}</td>
                    <td ng-show="!vm.toggleMaster">
                            <input name="selected{{p.id}}" type="checkbox" id="selected{{p.id}}" ng-model="p.selected" ng-change="vm.triggerInfoDialog(p.id)"/>
                            <label for="selected{{p.id}}"></label>
                    </td>
                    <td>{{ p.ccn }}</td>
                    <td>{{ p.description }}</td>
                    <td>{{ p.part_ng }}</td>
                    <td ng-repeat="data in vm.locations" ng-show="data.id == p.location_id">
                            {{ data.description }}
                    </td>
                    <td>
                        <div ng-if="vm.getBoolean(p.note)" class="small-correct"><i class="material-icons">done</i></div>
                        <div ng-if="!vm.getBoolean(p.note)" class="small-x">X</div>
                    </td>
                    <td ng-show="!vm.toggleMaster">{{ p.year }}</td>
                    <td ng-show="!vm.toggleMaster">{{ p.uslp }}</td>
                    <td ng-show="!vm.toggleMaster">{{ p.ndbp }}</td>
                    <td ng-show="!vm.toggleMaster">{{ p.other }}</td>
            </tr>
    </tbody>
</table>

<dir-pagination-controls pagination-id="prodx" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>