<table id="product-table" class="hoverable bordered show-on-small hide-on-med-and-up" ng-show="!vm.bigSpinner">
        <tbody>
                <tr dir-paginate="p in vm.products | filter:search | orderBy:vm.sortKey:vm.reverse | itemsPerPage:5" pagination-id="prodx">
                    <td class="hide">{{ p.id }}</td>    
                    <td ng-show="!vm.toggleMaster">
                        <input name="selected{{p.id}}" type="checkbox" id="selected{{p.id}}" ng-model="p.selected" ng-change="vm.triggerInfoDialog(p.id)"/>
                        <label for="selected{{p.id}}"></label>
                    </td>
                    <td style="width:50%">
                        <p><b>CCN#:</b> {{ p.ccn }}</p>
                        <p><b>Part Ng.:</b> {{ p.part_ng }}</p>
                        <p ng-if="vm.getBoolean(p.note)"><b>Note:</b> <span class="small-correct"><i class="material-icons">done</i></span></p>
                        <p ng-if="!vm.getBoolean(p.note)"><b>Note:</b> <span class="small-x">X</span></p>
                        <p ng-show="!vm.toggleMaster"><b>USLP:</b> {{ p.uslp }}</p>
                        <p ng-show="!vm.toggleMaster"><b>Other:</b> {{ p.other }}</p>
                    </td>
                    <td style="width:50%">
                        <p><b>Description:</b> {{ p.description }}</p>
                        <p ng-repeat="data in vm.locations" ng-show="data.id == p.location_id">
                            <b>Location: </b> {{ data.description }}
                        </p>
                        <p ng-show="!vm.toggleMaster"><b>Year:</b> {{ p.year }}</p>
                        <p ng-show="!vm.toggleMaster"><b>NDBP:</b> {{ p.ndbp }}</p>
                    </td>
                </tr>
        </tbody>
</table>

<table id="product-table" class="hoverable bordered hide-on-small-only" ng-show="!vm.bigSpinner">
    <thead>
            <tr>
                    <th class="text-align-center hide">ID</th>
                    <th class="text-align-center" ng-show="!vm.toggleMaster">Select</th>
                    <th class="text-align-center">
                            <button ng-click="vm.sortBy('ccn')">CCN#</button>
                            <span class="sortorder" ng-show="vm.sortKey === 'ccn'" ng-class="{reverse: vm.reverse}"></span>
                    </th>
                    <th class="text-align-center">
                            <button ng-click="vm.sortBy('description')">Description</button>
                            <span class="sortorder" ng-show="vm.sortKey === 'description'" ng-class="{reverse: vm.reverse}"></span>
                    </th>
                    <th class="text-align-center">
                            <button ng-click="vm.sortBy('part_ng')">Part Ng.</button>
                            <span class="sortorder" ng-show="vm.sortKey === 'part_ng'" ng-class="{reverse: vm.reverse}"></span>
                    </th>
                    <th class="text-align-center">
                            <button ng-click="vm.sortBy('location')">Location</button>
                            <span class="sortorder" ng-show="vm.sortKey === 'location'" ng-class="{reverse: vm.reverse}"></span>
                    </th>
                    <th class="text-align-center">Note</th>
                    <th class="text-align-center" ng-show="!vm.toggleMaster">
                            <button ng-click="vm.sortBy('year')">Year</button>
                            <span class="sortorder" ng-show="vm.sortKey === 'year'" ng-class="{reverse: vm.reverse}"></span>
                    </th>
                    <th class="text-align-center" ng-show="!vm.toggleMaster">
                            <button ng-click="vm.sortBy('uslp')">USLP</button>
                            <span class="sortorder" ng-show="vm.sortKey === 'uslp'" ng-class="{reverse: vm.reverse}"></span>
                    </th>
                    <th class="text-align-center" ng-show="!vm.toggleMaster">
                            <button ng-click="vm.sortBy('ndbp')">NDBP</button>
                            <span class="sortorder" ng-show="vm.sortKey === 'ndbp'" ng-class="{reverse: vm.reverse}"></span>
                    </th>
                    <th class="text-align-center" ng-show="!vm.toggleMaster">Other</th>
            </tr>
    </thead>

    <tbody>
            <tr dir-paginate="p in vm.products | filter:search | orderBy:vm.sortKey:vm.reverse | itemsPerPage:5" pagination-id="prodx">
                    <td class="hide">{{ p.id }}</td>
                    <td ng-show="!vm.toggleMaster">
                            <input name="selected{{p.id}}" type="checkbox" id="selected{{p.id}}" ng-model="p.selected" ng-change="vm.triggerInfoDialog(p.id)"/>
                            <label for="selected{{p.id}}"></label>
                    </td>
                    <td>{{ p.ccn }}</td>
                    <td>{{ p.description }}</td>
                    <td>{{ p.part_ng }}</td>
                    <td ng-repeat="data in vm.locations" ng-show="data.id == p.location_id">
                            {{ data.description }}
                    </td>
                    <td>
                        <div ng-if="vm.getBoolean(p.note)" class="small-correct"><i class="material-icons">done</i></div>
                        <div ng-if="!vm.getBoolean(p.note)" class="small-x">X</div>
                    </td>
                    <td ng-show="!vm.toggleMaster">{{ p.year }}</td>
                    <td ng-show="!vm.toggleMaster">{{ p.uslp }}</td>
                    <td ng-show="!vm.toggleMaster">{{ p.ndbp }}</td>
                    <td ng-show="!vm.toggleMaster">{{ p.other }}</td>
            </tr>
    </tbody>
</table>